<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Affan - PWA Mobile HTML Template">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <meta name="theme-color" content="#0134d4">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Title -->
  <title>Affan - PWA Mobile HTML Template</title>

  <!-- Favicon -->
  <link rel="icon" href="img/core-img/favicon.ico">
  <link rel="apple-touch-icon" href="img/icons/icon-96x96.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/icons/icon-152x152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="img/icons/icon-167x167.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/icons/icon-180x180.png">

  <!-- Style CSS -->
  <link rel="stylesheet" href="style.css">

  <!-- Web App Manifest -->
  <link rel="manifest" href="manifest.json">
</head>

<body>
  <!-- Preloader -->
  <div id="preloader">
    <div class="spinner-grow text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <!-- Internet Connection Status -->
  <div class="internet-connection-status" id="internetStatus"></div>

  <!-- Header Area -->
  <div class="header-area" id="headerArea">
    <div class="container">
      <!-- Header Content -->
      <div class="header-content header-style-five position-relative d-flex align-items-center justify-content-between">
        <!-- Logo Wrapper -->
        <div class="logo-wrapper">
          <a href="home.html">
            <img src="img/core-img/logo.png" alt="">
          </a>
        </div>

        <!-- Navbar Toggler -->
        <div class="navbar--toggler" id="affanNavbarToggler" data-bs-toggle="offcanvas" data-bs-target="#affanOffcanvas"
          aria-controls="affanOffcanvas">
          <span class="d-block"></span>
          <span class="d-block"></span>
          <span class="d-block"></span>
        </div>
      </div>
    </div>
  </div>

  <!-- # Sidenav Left -->
  <div class="offcanvas offcanvas-start" id="affanOffcanvas" data-bs-scroll="true" tabindex="-1"
    aria-labelledby="affanOffcanvsLabel">

    <button class="btn-close btn-close-white text-reset" type="button" data-bs-dismiss="offcanvas"
      aria-label="Close"></button>

    <div class="offcanvas-body p-0">
      <div class="sidenav-wrapper">
        <!-- Sidenav Profile -->
        <div class="sidenav-profile bg-gradient">
          <div class="sidenav-style1"></div>

          <!-- User Thumbnail -->
          <div class="user-profile">
            <img src="img/bg-img/2.jpg" alt="">
          </div>

          <!-- User Info -->
          <div class="user-info">
            <h6 class="user-name mb-0">Affan Islam</h6>
            <span>CEO, Designing World</span>
          </div>
        </div>

        <!-- Sidenav Nav -->
        <ul class="sidenav-nav ps-0">
          <li>
            <a href="home.html"><i class="bi bi-house-door"></i> Home</a>
          </li>
          <li>
            <a href="elements.html"><i class="bi bi-folder2-open"></i> Elements
              <span class="badge bg-danger rounded-pill ms-2">220+</span>
            </a>
          </li>
          <li>
            <a href="pages.html"><i class="bi bi-collection"></i> Pages
              <span class="badge bg-success rounded-pill ms-2">100+</span>
            </a>
          </li>
          <li>
            <a href="#"><i class="bi bi-cart-check"></i> Shop</a>
            <ul>
              <li>
                <a href="shop-grid.html"> Shop Grid</a>
              </li>
              <li>
                <a href="shop-list.html"> Shop List</a>
              </li>
              <li>
                <a href="shop-details.html"> Shop Details</a>
              </li>
              <li>
                <a href="cart.html"> Cart</a>
              </li>
              <li>
                <a href="checkout.html"> Checkout</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="settings.html"><i class="bi bi-gear"></i> Settings</a>
          </li>
          <li>
            <div class="night-mode-nav">
              <i class="bi bi-moon"></i> Night Mode
              <div class="form-check form-switch">
                <input class="form-check-input form-check-success" id="darkSwitch" type="checkbox">
              </div>
            </div>
          </li>
          <li>
            <a href="login.html"><i class="bi bi-box-arrow-right"></i> Logout</a>
          </li>
        </ul>

        <!-- Social Info -->
        <div class="social-info-wrap">
          <a href="#">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="#">
            <i class="bi bi-twitter"></i>
          </a>
          <a href="#">
            <i class="bi bi-linkedin"></i>
          </a>
        </div>

        <!-- Copyright Info -->
        <div class="copyright-info">
          <p>
            <span id="copyrightYear"></span>
            &copy; Made by <a href="#">Designing World</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content-wrapper py-3">
    <div class="container">
      <div class="card">
        <div class="card-body p-3">
          <p class="ps-2">Authentication</p>

          <a class="affan-page-item" href="login.html">
            <div class="icon-wrapper">
              <i class="bi bi-shield-lock"></i>
            </div>
            Login
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <a class="affan-page-item" href="social-login.html">
            <div class="icon-wrapper">
              <i class="bi bi-shield-lock"></i>
            </div>
            Social Login
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <a class="affan-page-item" href="register.html">
            <div class="icon-wrapper">
              <i class="bi bi-shield-lock"></i>
            </div>
            Register
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <a class="affan-page-item" href="otp.html">
            <div class="icon-wrapper">
              <i class="bi bi-phone-flip"></i>
            </div>
            OTP
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <a class="affan-page-item" href="otp-confirm.html">
            <div class="icon-wrapper">
              <i class="bi bi-phone-flip"></i>
            </div>
            OTP Confirm
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <a class="affan-page-item" href="forget-password.html">
            <div class="icon-wrapper">
              <i class="bi bi-key"></i>
            </div>
            Forget Password
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <a class="affan-page-item" href="forget-password-success.html">
            <div class="icon-wrapper">
              <i class="bi bi-key"></i>
            </div>
            Forget Password Success
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <a class="affan-page-item" href="change-password.html">
            <div class="icon-wrapper">
              <i class="bi bi-key"></i>
            </div>
            Change Password
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <a class="affan-page-item" href="forget-password-failed.html">
            <div class="icon-wrapper">
              <i class="bi bi-key"></i>
            </div>
            Forget Password Failed
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <p class="mt-3 ps-2">Chats</p>

          <a class="affan-page-item" href="chat-users.html">
            <div class="icon-wrapper">
              <i class="bi bi-people"></i>
            </div>
            Chat Users
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <a class="affan-page-item" href="chat.html">
            <div class="icon-wrapper">
              <i class="bi bi-chat-dots"></i>
            </div>
            Chats
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <a class="affan-page-item" href="video-call.html">
            <div class="icon-wrapper">
              <i class="bi bi-camera-video"></i>
            </div>
            Video Call
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <p class="mt-3 ps-2">eCommerce</p>

          <a class="affan-page-item" href="shop-grid.html">
            <div class="icon-wrapper">
              <i class="bi bi-basket"></i>
            </div>
            Shop Grid
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <a class="affan-page-item" href="shop-list.html">
            <div class="icon-wrapper">
              <i class="bi bi-basket"></i>
            </div>
            Shop List
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <a class="affan-page-item" href="shop-details.html">
            <div class="icon-wrapper">
              <i class="bi bi-basket"></i>
            </div>
            Shop Details
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <a class="affan-page-item" href="cart.html">
            <div class="icon-wrapper">
              <i class="bi bi-basket"></i>
            </div>
            Cart
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <a class="affan-page-item" href="checkout.html">
            <div class="icon-wrapper">
              <i class="bi bi-basket"></i>
            </div>
            Checkout
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <a class="affan-page-item" href="payment-confirm.html">
            <div class="icon-wrapper">
              <i class="bi bi-basket"></i>
            </div>
            Order Confirmed
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <p class="mt-3 ps-2">Miscellaneous</p>

          <a class="affan-page-item" href="about-us.html">
            <div class="icon-wrapper">
              <i class="bi bi-card-text"></i>
            </div>
            About
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <a class="affan-page-item" href="team.html">
            <div class="icon-wrapper">
              <i class="bi bi-people"></i>
            </div>
            Team
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <a class="affan-page-item" href="our-service.html">
            <div class="icon-wrapper">
              <i class="bi bi-grid-3x3-gap"></i>
            </div>
            Service
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <a class="affan-page-item" href="privacy-policy.html">
            <div class="icon-wrapper">
              <i class="bi bi-hash"></i>
            </div>
            Privacy Policy
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <a class="affan-page-item" href="invoice.html">
            <div class="icon-wrapper">
              <i class="bi bi-receipt"></i>
            </div>
            Invoice
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <a class="affan-page-item" href="contact.html">
            <div class="icon-wrapper">
              <i class="bi bi-envelope"></i>
            </div>
            Contact
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <a class="affan-page-item" href="faq.html">
            <div class="icon-wrapper">
              <i class="bi bi-question-octagon"></i>
            </div>
            FAQ
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <a class="affan-page-item" href="language.html">
            <div class="icon-wrapper">
              <i class="bi bi-globe2"></i>
            </div>
            Language
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <a class="affan-page-item" href="notifications.html">
            <div class="icon-wrapper">
              <i class="bi bi-exclamation-circle"></i>
            </div>
            Notifications
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <a class="affan-page-item" href="notification-details.html">
            <div class="icon-wrapper">
              <i class="bi bi-exclamation-circle"></i>
            </div>
            Notification Details
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <a class="affan-page-item" href="search-result.html">
            <div class="icon-wrapper">
              <i class="bi bi-search"></i>
            </div>
            Search Result
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <a class="affan-page-item" href="fallback.html">
            <div class="icon-wrapper">
              <i class="bi bi-wifi-off"></i>
            </div>
            Fallback/Offline Page
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <a class="affan-page-item" href="coming-soon.html">
            <div class="icon-wrapper">
              <i class="bi bi-clock"></i>
            </div>
            Coming Soon
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <a class="affan-page-item" href="user-profile.html">
            <div class="icon-wrapper">
              <i class="bi bi-person"></i>
            </div>
            User Profile
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <a class="affan-page-item" href="404.html">
            <div class="icon-wrapper">
              <i class="bi bi-bug"></i>
            </div>
            404 - Not Found
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <p class="mt-3 ps-2">Blog</p>

          <a class="affan-page-item" href="blog-grid.html">
            <div class="icon-wrapper">
              <i class="bi bi-newspaper"></i>
            </div>
            Blog Grid
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <a class="affan-page-item" href="blog-list.html">
            <div class="icon-wrapper">
              <i class="bi bi-newspaper"></i>
            </div>
            Blog List
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>

          <a class="affan-page-item" href="blog-details.html">
            <div class="icon-wrapper">
              <i class="bi bi-newspaper"></i>
            </div>
            Blog Details
            <i class="bi bi-caret-right-fill fz-12"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Nav -->
  <div class="footer-nav-area" id="footerNav">
    <div class="container px-0">
      <!-- Footer Content -->
      <div class="footer-nav position-relative">
        <ul class="h-100 d-flex align-items-center justify-content-between ps-0">
          <li>
            <a href="home.html">
              <i class="bi bi-house"></i>
              <span>Home</span>
            </a>
          </li>

          <li class="active">
            <a href="pages.html">
              <i class="bi bi-collection"></i>
              <span>Pages</span>
            </a>
          </li>

          <li>
            <a href="elements.html">
              <i class="bi bi-folder2-open"></i>
              <span>Elements</span>
            </a>
          </li>

          <li>
            <a href="chat-users.html">
              <i class="bi bi-chat-dots"></i>
              <span>Chat</span>
            </a>
          </li>

          <li>
            <a href="settings.html">
              <i class="bi bi-gear"></i>
              <span>Settings</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- All JavaScript Files -->
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/slideToggle.min.js"></script>
  <script src="js/internet-status.js"></script>
  <script src="js/tiny-slider.js"></script>
  <script src="js/venobox.min.js"></script>
  <script src="js/countdown.js"></script>
  <script src="js/rangeslider.min.js"></script>
  <script src="js/vanilla-dataTables.min.js"></script>
  <script src="js/index.js"></script>
  <script src="js/imagesloaded.pkgd.min.js"></script>
  <script src="js/isotope.pkgd.min.js"></script>
  <script src="js/dark-rtl.js"></script>
  <script src="js/active.js"></script>
  <script src="js/pwa.js"></script>
</body>

</html>